.about {
  padding-top: 120px;

  &__wrapper {
    display: grid;
    grid-template: repeat(2, minmax(200px, auto)) / 400px 1fr;
    gap: 40px 70px;
  }

  &__photo {
    grid-row: 1 / 3;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding-top: 5px;

    .divider {
      margin: 0;
    }
  }

  &__title {
    position: relative;
    padding-top: 1px;
    padding-left: 12px;

    @include before-circle;
  }

  &__subtitle {
    margin-bottom: 0;
  }

  &__descr {
    margin: 20px 0 0;
    font-size: 14px;
    line-height: 21px;
  }

  &__skills {
    display: grid;
    grid-template: repeat(2, minmax(116px, auto)) / 1fr 1fr;
    grid-auto-rows: minmax(116px, auto);
    gap: 20px 50px;

    &-item {
      display: grid;
      grid-template-columns: 36px 1fr;
      gap: 25px;
    }

    &-title {
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
    }

    &-descr {
      font-size: 12px;
      line-height: 18px;
    }

    &-icon {
      position: relative;
      @include before-circle;

      &::before {
        top: 0;
        transform: none;
      }

      img {
        padding: 15px 0 0 15px;
      }
    }
  }
}
